<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>492816910220-brubv46lefudm7d371mhlsk3p1hcekpr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.492816910220-brubv46lefudm7d371mhlsk3p1hcekpr</string>
	<key>API_KEY</key>
	<string>AIzaSyCixACyD-NslzAKc1nqflt6yFbtOACl0oY</string>
	<key>GCM_SENDER_ID</key>
	<string>492816910220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.litehouseApp</string>
	<key>PROJECT_ID</key>
	<string>litehousebeta</string>
	<key>STORAGE_BUCKET</key>
	<string>litehousebeta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:492816910220:ios:206eea51447bf5876638a9</string>
</dict>
</plist>